.ContainerAnim{
  width: 75%;
  height: 80px;
  margin: 0 auto;
  position: absolute;
  display: flex;
  top: 50%;
  justify-content: center;
  align-items: center;
}
.AnimContainer{
  width: 100%;
  height: 100%;
  position: absolute;
  translate: (-50%, -50%);
}
.Circle{
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  background-color: var(--complementary-color);
  left: 15%;
  transform-origin: 50%;
  animation: circle .4s alternate infinite ease;
}
@keyframes circle{
  0%{
    top: 100px;
    height: 4px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40%{
    height: 40px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100%{
    top: 0%;
  }
}
.Circle:nth-child(2){
  left: 47%;
  animation-delay: .2s;
}
.Circle:nth-child(3){
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
.Shadow{
  width: 30px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(5,7,12,0.43);
  position: absolute;
  top: 100px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
  0%{
    transform: scaleX(1.5);
  }
  40%{
    transform: scaleX(1);
    opacity: .7;
  }
  100%{
    transform: scaleX(.2);
    opacity: .4;
  }
}

.Shadow:nth-child(4){
  left: 47%;
  animation-delay: .2s;
}
.Shadow:nth-child(5){
  left: auto;
  right: 15%;
  animation-delay: .3s;
}
